HOME="<your user home dir>"
CONFIG_DIR="<your config dir>"

CHANNELS_PATH="$HOME/.config/twc/channels"
PYTCHAT_PATH="$HOME/.local/bin/pytchat"
KICKCHAT_PATH="$HOME/.npm-global/bin/kichatty"
YOUTUBECHAT_PATH="pytchatty"
