HOME="<your user home dir>"
CONFIG_DIR="<your config dir>"

CHANNELS_PATH="$CONFIG_DIR/twc/channels"

# You can use custom chats per platform like this

# KICKCHAT_PATH="$HOME/.npm-global/bin/kichatty"
# https://github.com/rodrigo-sys/kichatty

# YOUTUBECHAT_PATH="pytchatty"
# https://github.com/rodrigo-sys/pytchatty
